EatonTest/.vs/EatonTest/config/applicationhost.config
EatonTest/.vs/EatonTest/DesignTimeBuild/.dtbcache.v2
EatonTest/.vs/EatonTest/FileContentIndex/0cba019a-ecb8-42d8-83ad-f9ad1a325c13.vsidx
EatonTest/.vs/EatonTest/FileContentIndex/1ed0bcd8-ae14-4992-ae8d-5f230c735197.vsidx
EatonTest/.vs/EatonTest/FileContentIndex/77e439dc-dde5-4c5f-bea2-c915e75bf0cb.vsidx
EatonTest/.vs/EatonTest/FileContentIndex/7cb0e125-e0c7-4b24-9fea-59a4ac19618c.vsidx
EatonTest/.vs/EatonTest/FileContentIndex/c4cdfa84-caa2-4d70-890f-3cf556281e49.vsidx
EatonTest/.vs/EatonTest/v17/.futdcache.v2
EatonTest/.vs/EatonTest/v17/.suo
EatonTest/.vs/EatonTest/v17/TestStore/0/001.testlog
EatonTest/.vs/EatonTest/v17/TestStore/0/testlog.manifest
EatonTest/.vs/ProjectEvaluation/eatontest.metadata.v7.bin
EatonTest/.vs/ProjectEvaluation/eatontest.projects.v7.bin
